<div class="login_form">
<br>
<br>
	<%= form_tag do %>
		<fieldset id="newSession_fieldset">
	  	<legend id="newSession_legend"> Please Log In </legend>

	      <div class="login_field">
	     	 <%= label_tag :username, "Username:", class: "label" %>
	     	 <%= text_field_tag :username, params[:username], class: "input_field" %>
	  	  </div>

	  	  <div class="login_field">
	  	  	<%= label_tag :password, "Password:", class: "label" %>
	  	  	<%= password_field_tag :password, params[:password], class: "input_field" %>
	  	  </div>

	  	  <div class="login_field">
	  	  	<%= submit_tag "Log In", class: "login_btn" %>
	  	  </div>
	  </fieldset>
	  <Br>
	  <br>
	  <div id ="error_message"><%= flash[:alert] if flash[:alert] %></div>
	<% end %>  	
</div>