<br>
<br>
<div id="edit_acc">
	<%= form_for @user, url: users_edit_path(@user) do |f| %>
	<div class="edit_acc_form">
			<div class="field">
				<%= f.label "Username:" %>
				<%= f.text_field :username, size: 20, autocomplete: "off" %>		
			</div>


			<div class="field">
				<%= f.label "Email:" %>
				<%= f.text_field :email, autocomplete: "off" %>
			</div>

			<div class="field">
				<%= f.label "Password:" %>
				<%= f.password_field :password, autocomplete: "off" %>
			</div>


			<div class="field">
				<%= f.label :password_confirmation, "Confirm:" %>
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
			</div>


			<div class="actions" class="update_info">
				<div id="sub"><%= f.submit "Update Account", class: "btn_style" %></div>
			</div>
	<% end %>
	</div>
</div>
