<div class="acc_info">
<br>
<br>
<br>
	<div id="user_show">
		 <div id="my_page"><%= @user.username.titleize%>'s Page </div> <br>
		 <br>
		 <br>

		 <% @user.recipes.each do |recipe| %>
		<div class="col-md-4 col-lg-3" id="recipe_descrip">
		  Title: <%= recipe.recipe_title %> <br>
		  <img src= "<%= recipe.avatar %>"  height ="85px"/> <br>
		 Ingredients: <%= recipe.ingredients %> <br>
		  Directions: <%= recipe.directions %> 
		</div>  
		<% end if @user.recipes %>

		<div id ="error_message">
			<%= flash[:alert] if flash[:alert] %>
		</div>

</div>
